.discover {
    background-color: white;
    width: 100%;
}

.discover-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 67.429vh;
}

.discover-container-1 {
    justify-content: center;
    align-items: center;

}

        #flex {
            display: flex;
            flex-direction: row;
    
        }

.discover-container-1 img{
    max-width: 100%;
    height: auto;
}

.discover-container-2 {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 580px;
    margin-right: 5rem;
}

.discover-container-3{
    display: none;
}

.discover-container-3 p{
        font-family: var(--font-family);
            line-height: 28px;
            margin-top: 1.5rem;
            max-width: 440px;
            margin-bottom: 35px;
            font-size: 1.5rem;
            font-weight: 300;
            line-height: 24px;
}
.discover-container-2 h1 {
    font-family: var(--font-family);
    line-height: 1.1em;
    max-width: 390px;
    letter-spacing: -0.04em;
    margin-bottom: 10px;
    font-size: 3rem;
    font-weight: 400;
}

.discover-container-2 p {
    font-family: var(--font-family);
    line-height: 28px;
    margin-top: 1.5rem;
    max-width: 440px;
    margin-bottom: 35px;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 24px;
}

.discover-container-3 p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: var(--color-text);

    margin-top: 1.5rem;
}

@media screen and (max-width: 1024px) {
    .discover {
        width: auto;
    }

    .discover-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        .discover-container-2{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
        }
        .discover-container-2 h1 {
            font-size: 2rem;
            width: 255px;
            margin-top: 53px;
            margin-left: 15px;
            line-height: 20px;
        }

    
        .discover-container-2 p {
            font-size: 14px;
            line-height: 24px;
        }


    #flex {
        display: flex;
        flex-direction: column-reverse; 
        
    }

    #item1{
        order: 1;
    }

    #item2{
        order: 2;
    }

    #item3{
        order: 3;
    }
     .discover-container-text {
            display: none;
    }


    .discover-container-3 {
            display: flex; 
            flex-direction: column;
    }

        .discover-container-3 p {
           font-size: 1.331rem;
           letter-spacing: 0.10rem;
           line-height: 20px; 
            width: 290px;
    }
        
        
    
    
}


@media screen and (max-width: 450px) {
    .discover {
        width: auto;
    }

    .discover-container-2 {
        text-align: left;

    }

}