
.Footer{
    background-image: url(assets/bg5.png); 
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    line-height: 47px;
    height: 50.78vh; 
}


.copyright {
    font-family: var(--font-family);
    margin-top: 36px;
}

.footer-menu {
    display: flex;
    gap: 2.875rem;
    max-width: 390px;
    list-style: none;
    text-transform: uppercase;
    font-family: var(--font-family);

}


@media screen and (max-width: 1024px) {

    .Footer {
        background-color: white;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;

    }

    img {
        height: 51px;
    }
    .footer-menu {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        line-height: 20px;
    }

    .copyright{
        font-size: 1.1669rem;
    }





}