
.Footer{
    background: url(assets/bg5.png);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    line-height: 47px;
    height: 50.78vh; 
}


.copyright {
    font-family: var(--font-family);
    margin-top: 36px;
    @media screen and (min-width: 700px) {
        display: row; 
    list-style-type: style;
  }
}

.footer-menu {
    display: flex;
    gap: 2.875rem;
    max-width: 390px;
    list-style: none;
    text-transform: uppercase;
    font-family: var(--font-family);

}

